version: '3'
services:
    mysql:
        platform: linux/x86_64
        image: mysql/mysql-server:8.0.26
        restart: always
        ports: 
            - 3306:3306
        environment: 
            MYSQL_ROOT_HOST: localhost
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: mydb
            MYSQL_USER: user
            MYSQL_PASSWORD: user
    web:
        image: nginx:latest
        ports:
        - "8080:80"
        volumes:
            - ../src:/code
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        links:
            - php-fpm
    php-fpm:
        build: ./php-fpm
        extra_hosts: 
            - "host.docker.internal:host-gateway"
        volumes:
            - ../src:/code